alias build="cargo build --release --manifest-path /{{ node_type }}/Cargo.toml"
alias start="/shared/networks/{{ network_name }}/{{ node_type }}-node-{{ id }}/start.sh"
alias reset="/shared/networks/{{ network_name }}/{{ node_type }}-node-{{ id }}/reset.sh"
